html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    min-width: 1240px;
    background-color: $body-bc-color;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size-primary;
    font-weight: $font-normal;
    font-style: normal;
    color: $text-color;
}

* {
    box-sizing: border-box;
}

h3 {
    margin: 0;
    font-size: 32px;
    font-weight: $font-semi-bold;
    color: $header-color;
    line-height: 39px;
}

h4 {
    margin: 0;
    font-size: 20px;
    font-weight: $font-semi-bold;
    color: $header-color;
    line-height: 24px;
}

h5 {
    margin: 0;
    font-size: 16px;
    font-weight: $font-normal;
    color: $header-color;
    line-height: 26px;
}

a,
button,
input[type=button] {
    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
