// color
$body-bc-color: #FFFFFF;
$separator-menu: #4E4E4E;
$text-color: #4E4E4E;
$price-color: #131313;
$btn-color-one: #162345;
$btn-color-two: #FFFFFF;
$btn-bc-one: #DA2328;


// font-family
$font-family: 'Montserrat', sans-serif;
$font-family-header: 'Bebas Neue', cursive;

// font-size
$font-size-primary: 12px;
$font-size-btn: 14px;
$font-size-info: 19px;

// font-weight
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-normal: 400;
