<div class="flex flex--jc-center mt-2">
    <div class="description">
        <h4>Описания для самой лучшей камеры</h4>
        <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor nulla tortor volutpat, venenatis, neque pulvinar nunc leo bibendum. Eu feugiat vulputate id libero velit purus tortor. Montes, nullam elementum ullamcorper volutpat eros, aenean vitae nisi feugiat. Amet, pellentesque quis ultrices nisl et vehicula mi. Duis consectetur in bibendum amet, dolor luctus. Velit porta elit ut aenean volutpat scelerisque massa aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor nulla tortor volutpat, venenatis, neque pulvinar nunc leo bibendum. Eu feugiat vulputate id libero velit purus tortor. Montes, nullam elementum ullamcorper volutpat eros, aenean vitae nisi feugiat. Amet, pellentesque quis ultrices nisl et vehicula mi. Duis consectetur in bibendum amet, dolor luctus. Velit porta elit ut aenean volutpat scelerisque massa aliquam.</p>
    </div>
</div>
