<div class="footer__top flex flex--jc-center">
    <div class="container relative flex flex--jc-space-between flex--ai-center">
        <a href="#"><object class="footer__button" type="image/svg+xml" data="/images/icon-up-arrow.svg" width="73" height="73"></object></a>
        <div class="footer__info">
            <ul class="flex flex--jc-center">
                <li class="footer__item">ООО Третья планета</li>
                <li class="footer__item">ИНН 7017448330</li>
                <li class="footer__item">ОГРН 1187031063053</li>
            </ul>
        </div>
        <div class="footer__extra">
            <ul class="flex flex--jc-space-between">
                <a class="footer__link" href="#"><li class="footer__item">Возврат и обмен</li></a>
                <a class="footer__link" href="#"><li class="footer__item">Гарантии</li></a>
                <a class="footer__link" href="#"><li class="footer__item">Политика конфиденциальности</li></a>
                <a class="footer__link" href="#"><li class="footer__item">Карта сайта</li></a>
            </ul>
        </div>
    </div>
</div>
<div class="footer__bottom flex flex--jc-center">
    <div class="footer__copyright">
        Все права защищены <a class="footer__link footer__link--copyright" href="https://regcam.ru/" target="_blank">regcam.ru</a> 2020 &copy;
    </div>
</div>
