<div class="menu border-bottom">
    <nav>
        <ul class="menu__nav flex flex--jc-space-between flex--ai-center footer__menu--nav">
            <li class="menu__page"><a class="menu__link" href="#">Главная</a></li>
            <li class="menu__page"><a class="menu__link" href="index.html">Каталог</a></li>
            <li class="menu__page"><a class="menu__link" href="#">Доставка и оплата</a></li>
            <li class="menu__page menu__page--active flex">
                <a class="menu__link flex flex--ai-center" id="dropdown1" href="#">Полезная информации
                    <object class="menu__icon" type="image/svg+xml" data="/images/icon-arrow-down-red.svg" width="8" height="5"></object>
                </a>
                <ul class="menu__nav menu__nav--dropdown">
                    <li><a class="menu__link" href="#">Акции</a></li>
                    <li><a class="menu__link" href="#">Новости</a></li>
                    <li><a class="menu__link" href="#">Статьи</a></li>
                </ul>
            </li>
            <li class="menu__page"><a class="menu__link" href="#">О компании</a></li>
            <li class="menu__page"><a class="menu__link" href="#">Контакты</a></li>
        </ul>
    </nav>
</div>
