<div class="info flex flex--jc-space-between flex--ai-center border-bottom">
    <div class="info__logo flex flex--jc-center flex--ai-center">
        Logo
    </div>
    <div class="info__contacts flex">
        <div class="info__item">
            <div class="info__top flex flex--ai-center">
                <object type="image/svg+xml" data="/images/icon-geolocation.svg" width="15" height="15"></object>
                <div class="info__text">
                    Выберите город: <span class="info__text--bold">Петропавловск-Камчатский</span>
                </div>
                <object type="image/svg+xml" data="/images/icon-arrow-down-gray.svg" width="8" height="5"></object>
            </div>
            <div class="info__bottom">
                ул. Ленинградская, 100
            </div>
        </div>
        <div class="info__item">
            <div class="info__top flex flex--ai-center">
                <object type="image/svg+xml" data="/images/icon-phone.svg" width="15" height="15"></object>
                <div class="info__text">
                    Для всех регионов:
                </div>
            </div>
            <div class="info__bottom">
                8 (800) 551-23-30
            </div>
        </div>
        <div class="info__item">
            <div class="info__top flex flex--ai-center">
                <object type="image/svg+xml" data="/images/icon-phone.svg" width="15" height="15"></object>
                <div class="info__text">
                    Для Петропавловск-Камчатского:
                </div>
            </div>
            <div class="info__bottom">
                8 (958) 581-53-52
            </div>
        </div>
    </div>
    <div class="info__actions flex">
        <div class="info__basket relative flex flex--ai-center">
            <object type="image/svg+xml" data="/images/icon-basket.svg" width="31" height="32"></object>
            <div class="info__counter flex flex--jc-center flex--ai-center" id="j-counter">2</div>
            <div class="info__price flex flex--ai-center">2000<span class="info__price--currency">&#8381</span></div>
        </div>
        <button class="button button--secondary flex flex--ai-center">
            <object class="button__icon" type="image/svg+xml" data="/images/icon-phone-btn.svg" width="16" height="16"></object>
            Перезвоните мне
        </button>
    </div>
</div>
