<div class="product-card">
    <ul class="flex flex--jc-start flex--ai-center">
        <li><object type="image/svg+xml" data="/images/icon-home.svg" width="16" height="16"></object></li>
        <li class="product-card__history"><a class="product-card__link" href="#">Название товара “Самая лучшая камера”</a></li>
    </ul>
    <div class="flex flex--jc-start flex--ai-center">
        <div class="product-card__image relative flex flex--jc-center flex--ai-center">
            <object type="image/svg+xml" data="/images/best-camera.jpg" width="276" height="449"></object>
            <button class="button product-card__switch product-card__switch--next"><object type="image/svg+xml" data="/images/icon-arrow-right.svg" width="9" height="14"></object></button>
            <button class="button product-card__switch product-card__switch--back"><object type="image/svg+xml" data="/images/icon-arrow-left.svg" width="9" height="14"></object></button>
        </div>
        <div class="product-card__about">

        </div>
    </div>
</div>
