<div class="flex flex--jc-center mt-2">
    <div class="reviews relative">
        <div class="reviews__comment relative">
            <div class="reviews__content reviews__content--first">01.12.2019, 04:50</div>
            <h4 class="reviews__title">Инна Иванова</h4>
            <p class="reviews__text">Можно ли установить глушилку сотовой связи в автомобиль?</p>
        </div>
        <div class="reviews__comment reviews__comment--separator relative mt-2">
            <div class="reviews__content reviews__content--first">01.12.2019, 04:50</div>
            <h4 class="reviews__title">Василий Пупкин</h4>
            <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit tincidunt odio et sapien, sem. Volutpat elementum pharetra aenean porta sit. Sagittis, est, ultrices placerat tristique velit semper aliquet dictum.</p>
        </div>
    </div>
</div>
