<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка товара</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link rel="stylesheet" href="style.css">
</head>
<body class="flex flex--ai-center flex--column">
    <div class="header">
        <div class="container">
            <%= require('html-loader!./components/header-info.html') %>
            <%= require('html-loader!./components/header-menu.html') %>
        </div>
    </div>
    <div class="main flex flex--jc-center">
        <div class="container mt-1 mb-2">
            <%= require('html-loader!./components/product-card.html') %>
            <div id="accordion">
                <ul class="nav flex">
                    <li class="nav__list"><a href="#" class="nav__link j-active tab" id="tab-1">Описание</a></li>
                    <li class="nav__list"><a href="#" class="nav__link">Характеристики</a></li>
                    <li class="nav__list"><a href="#" class="nav__link tab" id="tab-2">Отзывы</a></li>
                    <li class="nav__list"><a href="#" class="nav__link">Вопрос-ответ</a></li>
                </ul>
                <ul>
                    <li class="page j-active" id="page-1"><%= require('html-loader!./components/description.html') %></li>
                    <li class="page" id="page-2"><%= require('html-loader!./components/reviews.html') %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer flex flex--ai-center flex--column">
        <div class="container">
            <%= require('html-loader!./components/footer-menu.html') %>
            <%= require('html-loader!./components/footer-info.html') %>
        </div>
        <%= require('html-loader!./components/footer.html') %>
    </div>
    <script type="text/javascript" src="bindle.js"></script>
</body>
</html>
